
<html>
    <head>
    
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" charset="utf-8">

    
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
   	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-resource.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      <script type="text/javascript" src="routes/route.js"></script>
      <script type="text/javascript" src="controllers/userController.js"></script>
      <script type="text/javascript" src="controllers/activeActsController.js"></script>
      <script type="text/javascript" src="controllers/navBarCitizenController.js"></script>
      <script type="text/javascript" src="controllers/actsController.js"></script>
      <script type="text/javascript" src="controllers/amendmentsController.js"></script>
      <script type="text/javascript" src="controllers/navBarAldermanController.js"></script>
      <script type="text/javascript" src="controllers/activeActsAldermanController.js"></script>
      <script type="text/javascript" src="controllers/navBarPresidentController.js"></script>
      <script type="text/javascript" src="controllers/sessionController.js"></script>
      <script type="text/javascript" src="controllers/searchActiveActsController.js"></script>
      <script type="text/javascript" src="controllers/searchNonActiveActsController.js"></script>
      <script type="text/javascript" src="controllers/downloadAllController.js"></script>
      <!--link rel="stylesheet" href="stylesheets/loginStyle.css"-->
      <title>Skupstina grada Novog Sada</title>
    </head>
    <body ng-app="xmlApp"> 
        <div ng-controller="userController">
		<div ng-if="isRoleCitizen">
  			<div ng-include="'views/navBarCitizen.html'"></div>
			<br><br><br><br><br><br>
		</div>
		<div ng-if="isRoleAlderman">
			<div ng-include="'views/navBarAlderman.html'"></div>
			<br><br><br><br><br><br>
		</div>
		<div ng-if="isRolePresident">
   			<div ng-include="'views/navBarPresident.html'"></div>
			<br><br><br><br><br><br>
		</div> 
	</div> 
	<div ng-view>     
    </div>
  </body>
</html>
