<!--Predlog novog akta-->
<div ng-include="'views/navBarAlderman.html'"></div>
<br><br><br><br>
<div data-ng-controller="actsController">
	<div class="row">
			<div class="col-md-offset-2 col-md-4">
				<form class="formAddAct" ng-submit="addFileAct()">
					Upload akta: <input type="file" name="fajl">
				<br/> 
				<input type="submit">
				</form>
			</div>
			<div class="col-md-6"> &nbsp; </div>
	</div> <br/> 
	
	<div class="row">
			<div class="col-md-offset-2 col-md-4">
				<b> --- ILI --- </b>
			</div>
			<div class="col-md-6"> &nbsp; </div>
	</div> <br/> 
	
	<div class="row">
			<div class="col-md-offset-2 col-md-4">
				<button class="btn btn-primary btn-block" ng-click="showTextPart()"> Unos akta kao teksta </button>
			</div>
			<div class="col-md-6"> &nbsp; </div>
	</div>
	
	<br/><br/>
	<div ng-show="insertTextVisible">
    <form class="formAddAct" ng-submit="addAct()">        
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<label for="nact">Tekst novog akta:</label>
				<textarea class="form-control" rows="15" ng-model="newAct" id="nact"></textarea>
			</div>
			<div class="col-md-2"> &nbsp; </div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-offset-2 col-md-2">
				<input type="submit" value="Sacuvaj" class="btn btn-primary btn-block">
			</div>
			<div class="col-md-8"> &nbsp; </div>
		</div>
    </form>
	</div>
</div>