<!--Predlog novog akta-->
<div data-ng-controller="actsController">
	<div class="row">
			<div class="col-md-offset-2 col-md-4">
				Upload akta: <input id="file" type="file" name="fajl"/>
				<br/> 
				<button  ng-click="addFileAct()" class="btn btn-info">Sačuvaj</button>
			</div>
			<div class="col-md-6"> &nbsp; </div>
	</div> <br/> 
	
	<div class="row">
			<div class="col-md-offset-2 col-md-4">
				<b> --- ILI --- </b>
			</div>
			<div class="col-md-6"> &nbsp; </div>
	</div> <br/> 
	
	<div class="row">
			<div class="col-md-offset-2 col-md-4">
				<button class="btn btn-primary btn-block" ng-click="showTextPart()"> Unos akta kao teksta </button>
			</div>
			<div class="col-md-6"> &nbsp; </div>
	</div>
	
	<br/><br/>
	<div ng-show="insertTextVisible">
    <form class="formAddAct" ng-submit="addAct()">        
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<label>Status: {{status}}</label><br>
				<label for="nact">Tekst novog akta:</label>
				<textarea class="form-control" rows="15" ng-model="newAct" id="nact"></textarea>
			</div>
			<div class="col-md-2"> &nbsp; </div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-4">
				<input type="submit" value="Sacuvaj" class="btn btn-info btn-block">
			</div>
			<div class="col-md-6"> &nbsp; </div>
		</div>
    </form>
	</div>
</div>