<!--Predlog amandmana na akt-->
<div ng-include="'views/navBarAlderman.html'"></div>
<br><br><br><br>
<div>
    <form class="formAddAmandment" data-ng-controller="amandmentsController" ng-submit="addAmandment()">        
		<div class="row">
			<div class="col-md-offset-2 col-md-4">
			<select class="form-control" ng-model="selectedAct" ng-change="showAmandments()"
					ng-options="act.name for act in acts">
			</select>
			</div>
			<div class="col-md-6"> &nbsp; </div>	
		</div>
		<br/>
		<div class="row">
			<div class="col-md-offset-2 col-md-4">		
				<input type="button" value="Novi amandman na izabrani akt" class="btn btn-primary btn-block" 
					ng-click="newAmandment(); $event.stopPropagation();"> </td>
			</div>
			<div class="col-md-6"> &nbsp; </div>	
		</div>
		
		<br/> <br/>
		<div class="row"> 
			<div class="col-md-offset-2 col-md-8"> Amandmani na akt <b>{{selectedAct.name}}:</b></div> 
			<div class="col-md-2"> &nbsp; </div>
		</div> <br/>
		
		<div class="row">
			<div class="col-md-offset-2 col-md-8">		
			<ul>
				<li ng-repeat="ams in amandmentsForAct" >
					<a ng-click="test(act)">{{ams.name}}</a>
				</li> 
			</ul>
			</div>
			<div class="col-md-2"> &nbsp; </div>	
		</div>		
				
    </form>
</div>