<!--Predlog amandmana na akt-->
<div>
    <form class="formAddAmandment" data-ng-controller="amendmentsController" ng-submit="addAmendment()">        
		<div class="row">
			<div class="col-md-offset-2 col-md-4">
			<select class="form-control" ng-model="selectedAct" ng-change="showAmendments()"
					ng-options="act.naziv.value for act in acts">
			</select>
			</div>
			<div class="col-md-6"> &nbsp; </div>	
		</div>
		<br/>
		<div class="row">
			<div class="col-md-offset-2 col-md-4">		
				<input type="button" value="Novi amandman na izabrani akt" class="btn btn-primary btn-block" 
					ng-click="showTextPart()"> </td>
			</div>
			<div class="col-md-6"> &nbsp; </div>	
		</div>
		
		<div ng-show="insertTextVisible">
			<br/>
			<div class="row"> 
				<div class="col-md-offset-2 col-md-8"> 
					<label> Status: {{status}}</label><br>
					<label for="amContent"> Sadrzaj </label>
				</div> 
				<div class="col-md-2"> &nbsp; </div>
			</div> 
		
			<div class="row"> 
				<div class="col-md-offset-2 col-md-8"> 
					<textarea class="form-control" rows="10" ng-model="amForAct" id="amContent"></textarea>
				</div> 
				<div class="col-md-2"> &nbsp; </div>
			</div> 
			
			<div class="row"> 
				<div class="col-md-offset-2 col-md-2"> 
					<button class="btn btn-info btn-block" ng-click="saveAmendment()">Sacuvaj</button>
				</div> 
				<div class="col-md-8"> &nbsp; </div>
			</div>
			
		</div>
		
		<br/> <br/>
		<div class="row"> 
			<div class="col-md-offset-2 col-md-8"> Amandmani na akt &nbsp; <b>{{selectedAct.naziv.value}}:</b></div> 
			<div class="col-md-2"> &nbsp; </div>
		</div> <br/>
		
		<div class="row">
			<div class="col-md-offset-2 col-md-8">		
			<ul>
				<li ng-repeat="ams in amendmentsForAct" > {{ams.nazivAmandman.value}} &nbsp; | &nbsp;
					<a style='cursor: pointer;' ng-click="openAmendment(ams.oznakaAmandman.value)"> OTVORI </a> &nbsp; | &nbsp;
					<a ng-click="deleteAmendment(ams.oznakaAmandman.value)"> <b> OBRISI </b> </a>
				</li> 
			</ul>
			</div>
			<div class="col-md-2"> &nbsp; </div>	
		</div>		
				
    </form>
</div>