<meta charset="UTF-8">
<nav class="navbar-fluid navbar-inverse navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">Skupstina grada Novog Sada</a>
        </div>

        <div id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/donetaAkta">Doneta akta</a></li>
                <li><a href="/aktaUProceduri" >Akta u proceduri</a></li>
                <li><a href="/donetaAkta">Predlozi akt</a></li>
                <li><a href="/aktaUProceduri" >Predlozi amandman</a></li>
                <li><a href="/sednica" >Sednica</a></li>
            </ul>
            <p class="navbar-text navbar-right"><a ui-sref = "login">Odjavi se</a></p>
        </div>
    </div>
</nav>