<meta charset="UTF-8">
<nav ng-controller="navBarCitizenController" class="navbar-fluid navbar-inverse navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/gradjanin">Skupstina grada Novog Sada</a>
        </div>

        <div id="navbar">
            <ul class="nav navbar-nav">
                <li><a href ng-click="activeAct()">Doneta akta</a></li>
                <li><a href ng-click="nonActiveAct()">Akta u proceduri</a></li>
            </ul>
            <p class="navbar-text navbar-right"><a href ng-click="login()">Prijavi se</a></p>
        </div>
    </div>
</nav>