<div ng-include="'views/searchNonActiveActs.html'"></div>
<br><br><br>
<div ng-controller="nonActiveActsAldermanController">
	
	<table class="table table-hover" width="100">
		<tr>
			<th>Naziv</th>
			<th>Datum</th>
			<th>Vrsta</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="act in acts" style='cursor: pointer;'>
			<td  ng-click="getSelected(act.oznaka.value)">{{act.naziv.value}}</td>
			<td  ng-click="getSelected(act.oznaka.value)">{{act.datum.value}}</td>
			<td  ng-click="getSelected(act.oznaka.value)">{{act.vrsta.value}}</td>
			<td> 
				<a ng-click="deleteAct(act.oznaka.value); $event.stopPropagation();"> <b> Povuci akt </b></a>
			</td>
		</tr>
	</table>
	
</div>