<div data-ng-controller="searchNonActiveActsController">
	<form class="formNonSearchActiveActs" ng-submit="search()">
	<div class="row">
		<div class="col-md-2"> &nbsp; </div>
		<div class="col-md-1">
			<label> Pretraga: </label>
		</div>
		<div class="col-md-3">
			<input type="text" ng-model="searchText" class="form-control" placeholder="Unesite pojam pretrage">
		</div>

	
		<div class="col-md-3"> 
			<select ng-model="selectedCategory" class="form-control"> 
				<option>Sadrzaj</option>
				<option>Sve kategorije</option>
				<option>Oznaka</option>
				<option>Naziv</option>
				<option>Vrsta</option>
				<option>Datum</option>
				<option>Mesto</option>
				<option>Broj pozitivnih glasova</option>
				<option>Broj ukupnih glasova</option>
			</select>
	     </div>
	    <div class="col-md-1"> 
	    	<input type="submit" value="Trazi" class="btn btn-primary btn-block"> 
	    </div>
		<div class="col-md-2"> &nbsp; </div>
	</div>
	</form>
</div>