<div data-ng-controller="searchNonActiveActsController">
	<div class="row">
		<div class="col-md-1"> &nbsp; </div>
		<div class="col-md-1">
			<label> Pretraga: </label>
		</div>
		<div class="col-md-3">
			<input type="text" ng-model="searchText" class="form-control" placeholder="Unesite pojam pretrage">
		</div>
		<div class="col-md-3"> 
			<select ng-model="selectedCategory" class="form-control"> 
				<option>Sadrzaj</option>
				<option>Sve kategorije</option>
				<option>Oznaka</option>
				<option>Naziv</option>
				<option>Vrsta</option>
				<option>Datum</option>
				<option>Mesto</option>
				<option>Broj pozitivnih glasova</option>
				<option>Broj ukupnih glasova</option>
			</select>
	     </div>
	    <div class="col-md-1"> 
	    	<button ng-click="search()" class="btn btn-primary btn-block">Trazi</button>
	    </div>
	    <div class="col-md-2">
			<button class="btn btn-danger btn-block" ng-click=advancedSearch()>Napredna pretraga</button> 
		</div>
	</div>
	
		
</div>