<div ng-include="'views/navBarPresident.html'"></div>
<br><br><br><br>
<div data-ng-controller="sessionController">
	<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<table class='table table-bordered' ng-repeat = "act in acts.nonActive">
				
				<form class="formSession" ng-submit="sessionSubmit()">   
					<tr ng-model="act" class="success" ng-click="expandAct($index)"> 
						<td colspan="3"> <u> {{ act.name }} </u> </td>
					</tr> 
					
					<tr ng-if="testIfVisible($index)"> 
						<td> &nbsp; </td>
						<td> Akt se usvaja u nacelu: </td>
						<td> 
							<label class="radio-inline"><input type="radio" name="uNacelu">DA</label>
							<label class="radio-inline"><input type="radio" name="uNacelu">NE</label>
						</td>
					</tr> 
				
					<tr ng-if="testIfVisible($index)">
						<td> Glasanje o amandmanima pojedinacno: </td>
						<td> &nbsp; </td>
						<td> Za &nbsp; / &nbsp; Ukupno </td>
					</tr>
					
					<tr ng-repeat="ams in act.amandments" ng-if="testIfVisible($parent.$index)">
						<td> {{ams.name}} </td>
						<td> &nbsp; </td>
						<td> 
							<input type="number" min="0" max="1000"> &nbsp; / &nbsp; 
							<input type="number" min="0" max="1000">
						</td>
					</tr>
					
					<tr ng-model="act" ng-if="testIfVisible($index)"> 
						<td> &nbsp; </td>
						<td> Akt se usvaja u celini: </td>
						<td> 
							<label class="radio-inline"><input type="radio" name="uCelini">DA</label>
							<label class="radio-inline"><input type="radio" name="uCelini">NE</label>
						</td>
					</tr>
					
					<tr ng-model="act" ng-if="testIfVisible($index)"> 
						<td> &nbsp; </td>
						<td> &nbsp; </td>
						<td> 
							<input type="submit" value="Sacuvaj rezultate glasanja" class="btn btn-info btn-block">
						</td>
					</tr>
					</div>
				 </form>
				</table>				
			</div>
			<div class="col-md-1"> &nbsp; </div>
	</div> <br/> 
</div>