<div data-ng-controller="sessionController">
	<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<table class='table table-bordered' ng-repeat = "act in acts">
				
				<form class="formSession">   
					<tr ng-model="act" class="success" ng-click="expandAct($index, act.oznaka.value)"> 
						<td colspan="3" style='cursor: pointer;'> <u> {{ act.naziv.value }} </u> </td>
					</tr> 
					
					<tr ng-if="testIfVisible($index)"> 
						<td colspan="3"> 
						<a style='cursor: pointer;' ng-click="openAct(act.oznaka.value)">  
						  Otvori akt						
						</td>
					</tr> 
					
					<tr ng-if="testIfVisible($index)">
						<td> Glasanje o aktu: </td>
						<td> Za &nbsp; / &nbsp; Ukupno </td>
						<td> &nbsp; </td>
					</tr>
					
					<tr ng-if="testIfVisible($index)">
						<td> &nbsp; </td>
						<td> 
							<input type="number" min="0" max="1000" ng-model="$parent.$parent.aktGlasMin"> &nbsp; / &nbsp; 
							<input type="number" min="0" max="1000" ng-model="$parent.$parent.aktGlasMax">
						</td>
						<td>&nbsp;</td>
					</tr>
					
					<tr ng-if="testIfVisible($index)"> 
						<td> &nbsp; </td>
						<td> Akt se usvaja u nacelu: </td>
						<td> 
							<label class="radio-inline"><input type="radio" name="uNacelu" ng-model="$parent.$parent.uNacelu" ng-value=true ng-change="changed()">DA</label>
							<label class="radio-inline"><input type="radio" name="uNacelu" ng-model="$parent.$parent.uNacelu" ng-value=false ng-change="changed()">NE</label>
						</td>
					</tr> 
				
					<tr ng-if="testIfVisible($index)">
						<td> Glasanje o amandmanima pojedinacno: </td>
						<td> Za &nbsp; / &nbsp; Ukupno </td>
						<td> Primeni amandman </td>
					</tr>
					
					<tr ng-repeat="ams in amendments.data" ng-if="testIfVisible($parent.$index)">
						<td> 
							<a style='cursor: pointer;' ng-click="openAmendment(ams.oznakaAmandman.value)"> 
							{{ams.nazivAmandman.value}} 
						</td>
						<td> 
							<input type="number" min="0" max="1000" ng-model="amendments.glasMin[$index]"> &nbsp; / &nbsp; 
							<input type="number" min="0" max="1000" ng-model="amendments.glasMax[$index]">
						</td>
						<td>	
							<label class="radio-inline"><input type="radio" ng-model="amendments.primeni[$index]" ng-value=true ng-disabled="changed()">DA</label>
							<label class="radio-inline"><input type="radio" ng-model="amendments.primeni[$index]" ng-value=false ng-disabled="changed()">NE</label>
						</td>
					</tr>
					
					<tr ng-model="act" ng-if="testIfVisible($index)"> 
						<td> &nbsp; </td>
						<td> Akt se usvaja u celini: </td>
						<td> 
							<label class="radio-inline"><input type="radio" name="uCelini" ng-model="$parent.$parent.uCelini" ng-value=true ng-change="changed()">DA</label>
							<label class="radio-inline"><input type="radio" name="uCelini" ng-model="$parent.$parent.uCelini" ng-value=false ng-change="changed()">NE</label>
						</td>
					</tr>
					
					<tr ng-model="act" ng-if="testIfVisible($index)"> 
						<td> &nbsp; </td>
						<td> &nbsp; </td>
						<td> 
							<button ng-click="sessionSubmit(act.oznaka.value)" class="btn btn-info btn-block">Usvoji</button>
						</td>
					</tr>
					</div>
				 </form>
				</table>				
			</div>
			<div class="col-md-1"> &nbsp; </div>
	</div> <br/> 
</div>